.espacio {
  border: 5px;
}

.logo {
  height: 40%;
  width: 50%;
  float: left;
}
.lista1 {
  padding-left: 30px;
  float: right;
}
.lista2 {
  padding-left: 30px;
  float: left;
}
.inscripcion {
  background-color: aqua;
  float:right;
  height: 40%;
  width: 50%;
}
p {
  font-style: italic;
  text-align: center;
  background-color: darkred;
  color: rgb(252, 250, 250);
}
h1 {
  font-style: italic;
  font-size: 3cm;

  text-align: center;
  color: rgb(252, 250, 250);
}
fieldset {
  background-color: darkred;
}
lu {
  display: list-item;
}

.button {
  margin-top: 12px;
  float:right;
}

